<!DOCTYPE html>
<html>
    <head>
        <title><%=locals.title%></title>
        <%-style%>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <%-body%>
        <%-include('footer.ejs')%>
        <%-script%>
    </body>
</html>